.catalog__title {
  padding: 54px 20px 60px 20px;
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @gray;
  text-align: center;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  background-color: @ultra-light-gray;
  padding-left: 17px;
  padding-bottom: 25px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.catalog__user-photo {
  object-fit: cover;
}

.catalog__user-name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: @gray;
}

.catalog__post-time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: @gray;
}

.catalog__user-text {
  font-size: 14px;
  line-height: 24px;
  color: @gray;
}

.catalog__post-likes {
  display: flex;
  align-items: center;
}

.catalog__text {
  padding-top: 49px;
  padding-bottom: 52px;
}
