.photo-editor {
  background-color: @ultra-light-gray;
  padding-top: 20px;
  padding-bottom: 41px;
}

.photo-editor__tools {
  border: none;
}

.photo-editor__tools-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.photo-editor__tools-button {
  border: none;
}
